<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>‎Servet | Administracion</title>
	<link rel="stylesheet" type="text/css" href="../css/index.css">
	<link rel="stylesheet" type="text/css" href="../css/adminControl.css">
</head>
<body>
	<ul class="header__lista"><!-- Botones de la barra -->
    <li class="header__item" style="width: 15em;">
    	<div class="header__Tambo">
    		<a class="header__dr" id="tamboActivo" style="padding-left: 15px;" href="#"></a>
    	</div>
    </li>
    <li class="header__flex">
    	<span class="header__dr">Administrador de Vacas</span>
    </li>
</ul>
	<nav class="menu" id="menu">
		<div class="menu__contenido">
			<a href="./index.html">
				<div class="menu__opcion">
					<label class="texto menu__link">Inicio</label>
				</div>
			</a>
			<a href="./distribucionrcs.html">
				<div class="menu__opcion">
					<label class="texto menu__link select">Administrador de Vacas</label>
				</div>
			</a>
			<a href="./cronicas.html">
				<div class="menu__opcion">
					<label class="texto menu__link">Cronicas</label>
				</div>
			</a>
			<a href="./tanque.html">
				<div class="menu__opcion">
					<label class="texto menu__link">Aporte al Tanque</label>
				</div>
			</a>
		</div>
		<div class="menu__pie">
			<div class="menu__texto">
				<label class="texto menu__option">Graficos</label>
			</div>
			<a href="./analisisrcs.html">
				<div class="menu__opcion">
					<label class="texto menu__link">Analisis de RCS</label>
				</div>
			</a>
			<a href="#">
				<div class="menu__opcion">
					<label class="texto menu__link">Distribucion Mensual de RCS</label>
				</div>
			</a>
		</div>
	</nav>
<main>
	<div id="contBotonNuevoControl" style="display: flex; justify-content: space-between; padding: 0 20px 0 0;">
		<button id="botonNuevoControl" class="boton">Nuevo Control</button>
		<a class="label-1" id="descarga">Descargar Excel</a>
	</div>
	<div class="contenedor" id="tablaNuevoControl" style="display: none;">
		<form class="contenedor__input" id="formControl">
			<div class="input__fecha">
				<label>Fecha del Control:</label>
				<input type="date" id="fechaControl">
			</div>
			<label class="boton">
				<input type="file" id="fileExcel" name="">
				Subir Archivo
			</label>
		</form>
		<div class="contenedor__datos">
			<div>
				<label>Nuevas</label>
				<label id="vacasNuevas"></label>
			</div>
			<div>
				<label>Se Mantienen</label>
				<label id="vacasActualizadas"></label>
			</div>
			<div>
				<label>Eliminadas</label>
				<label id="vacasEliminadas"></label>
			</div>
			<div>
				<label>Total</label>
				<label id="vacasTotal"></label>
			</div>
		</div>
		<div class="contenedor__boton">
			<div class="botones">
				<button class="boton" id="aceptar">Aceptar</button>
				<button class="boton amarillo">Ayuda</button>
			</div>
			<button class="boton rojo" id="cancelar">X</button>
		</div>
	</div>
	<div class="contenedor__buscador">
			<input type="text" id="buscador" placeholder="Buscar Por Rp">
		</div>
	<div>
		<!-- <div class="thead">
			<label class="tabla__titulo">N°</label>
			<label class="tabla__titulo">RP</label>
			<label class="tabla__titulo">Lactancia</label>
			<label class="tabla__titulo">Fecha</label>
			<label class="tabla__titulo">DEL</label>
			<label class="tabla__titulo">Tacto</label>
			<label class="tabla__titulo">Leche</label>
			<label class="tabla__titulo">Rcs</label>
			<label class="tabla__titulo">Score</label>
		</div> -->
		<div class="contenedor__tabla scroll">
        	<table class="table">
        	<thead>
				<th>N°</th>
				<th>RP</th>
				<th>Lactancia</th>
				<th>Fecha</th>
				<th>DEL</th>
				<th>Tacto</th>
				<th>Leche</th>
				<th>Rcs</th>
				<th>Score</th>
			</thead>
        		<tbody id="tbody">
        			<!-- <tr>
            			<td>1</td><td>6689</td><td>6</td><td>01/03/20</td><td>177</td><td>P</td><td>19,2</td><td>464</td><td>5,2</td>
        			</tr> -->
        		</tbody>
    		</table>    
		</div>
	<div>
		
	</div>
</main>
<script type="module" src="../js/admin.js"></script>
</body>
</html>