<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>‎Servet | Cronicas</title>
	<link rel="stylesheet" type="text/css" href="../css/index.css">
	<link rel="stylesheet" type="text/css" href="../css/cronicas.css">
</head>
<body>
<ul class="header__lista">
    <li class="header__item" style="width: 15em;">
    	<div class="header__Tambo">
    		<a class="header__dr" id='tamboActivo' style="padding-left: 15px;" href="#"></a>
    	</div>
    </li>
    <li class="header__flex">
    	<span class="header__dr">Cronicas</span>
    </li>
</ul>
	<nav class="menu" id="menu">
		<div class="menu__contenido">
			<a href="./index.html">
				<div class="menu__opcion">
					<label class="texto menu__link">Inicio</label>
				</div>
			</a>
			<a href="./adminControl.html">
				<div class="menu__opcion">
					<label class="texto menu__link">Administrador de Vacas</label>
				</div>
			</a>
			<a href="./cronicas.html">
				<div class="menu__opcion">
					<label class="texto menu__link select">Cronicas</label>
				</div>
			</a>
			<a href="./tanque.html">
				<div class="menu__opcion">
					<label class="texto menu__link">Aporte al Tanque</label>
				</div>
			</a>
		</div>
		<div class="menu__pie">
			<div class="menu__texto">
				<label class="texto menu__option">Graficos</label>
			</div>
			<a href="./analisisrcs.html">
				<div class="menu__opcion">
					<label class="texto menu__link">Analisis de RCS</label>
				</div>
			</a>
			<a href="./distribucionrcs.html">
				<div class="menu__opcion">
					<label class="texto menu__link">Distribucion mensual de RCS</label>
				</div>
			</a>
		</div>
	</nav>
	<main>
		<div class="contenedor">
			<div class="contenedor__izq">
			<label>
			LISTADO DE ANIMALES CON  ALTOS  REGISTROS  PERSISTENTES<br>
			SCORE SUPERIOR A  3  (RCS SUPERIORES A 100.000) EN  VAQUILLONAS<br>
			SCORE  SUPERIOR  A  4  ( RCS  SUPERIORES  A  200.000)  EN  VACAS.
			</label>
			<select class="input" id="tipo">
            		<option selected="select" id="false">Vaquillonas</option>
            		<option id="true" >Vacas</option>
            	</select>
            </div>
			<div class="contenedor__derecha">
				<div class="contenedor__fecha">
					<label>Fecha del Control</label>
					<label id="fechaControl"></label>
				</div>
			</div>
		</div>
		<div class="contenedor__tabla scroll">
        	<table class="table" id="tabla">
        	<thead id="thead">
			</thead>
        		<tbody id="tbody">
        		</tbody>
    		</table>    
		</div>
	</main>
	<script type="module" src="../js/cronicas.js"></script>
</body>
</html>