<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>cronicas</title>
	<link rel="stylesheet" type="text/css" href="../css/index.css">
	<link rel="stylesheet" type="text/css" href="../css/cronicas.css">
</head>
<body>
<ul class="header__lista">
    <li class="header__item" style="width: 15em;">
    	<div class="header__Tambo">
    		<a class="header__dr" style="padding-left: 15px;" href="/">San Bernardo</a>
    	</div>
    </li>
    <li class="header__flex">
    	<span class="header__dr">Cronicas</span>
    </li>
</ul>
	<nav class="menu" id="menu">
		<div class="menu__contenido">
			<a href="./index.html">
				<div class="menu__opcion">
					<label class="texto menu__link">Inicio</label>
				</div>
			</a>
			<a href="./adminControl.html">
				<div class="menu__opcion">
					<label class="texto menu__link">Administrador de Vacas</label>
				</div>
			</a>
			<a href="./cronicas.html">
				<div class="menu__opcion">
					<label class="texto menu__link select">Cronicas</label>
				</div>
			</a>
			<a href="./tanque.html">
				<div class="menu__opcion">
					<label class="texto menu__link">%Tanque</label>
				</div>
			</a>
		</div>
		<div class="menu__pie">
			<div class="menu__texto">
				<label class="texto menu__option">Reportes</label>
			</div>
			<a href="#">
				<div class="menu__opcion">
					<label class="texto menu__link">Conteo de C.S.</label>
				</div>
			</a>
			<a href="#">
				<div class="menu__opcion">
					<label class="texto menu__link">Mastitis Clinica</label>
				</div>
			</a>
		</div>
	</nav>
	<main>
		<div class="contenedor">
			<div class="contenedor__izq">
			<label>
			LISTADO DE ANIMALES CON  ALTOS  REGISTROS  PERSISTENTES<br>
			SCORE SUPERIOR A  3  (RCS SUPERIORES A 100.000) EN  VAQUILLONAS<br>
			SCORE  SUPERIOR  A  4  ( RCS  SUPERIORES  A  200.000)  EN  VACAS.
			</label>
			<select class="input" id="tipo">
            		<option value="nashe" selected="select" id="nada">Vaquillonas</option>
            		<option value="3"id="usuario" >Vacas</option>
            	</select>
            </div>
			<div class="contenedor__derecha">
				<div class="contenedor__fecha">
					<label>Fecha del Control Lechero</label>
					<label>04/03/21</label>
				</div>
			</div>
		</div>
		<div class="contenedor__tabla scroll">
        	<table class="table">
        	<thead>
				<th>N°</th>
				<th>RP</th>
				<th>Lact.</th>
				<th>Inicio Lact.</th>
				<th>DEL</th>
				<th>Tacto</th>
				<th><div class="mes"><span>nov-20</span><span>Score</span></div></th>
				<th><div class="mes"><span>ene-21</span><span>Score</span></div></th>
				<th><div class="mes"><span>feb-21</span><span>Score</span></div></th>
				<th>Leche</th>
				<th>%Tan.</th>
				<th><div class="mes"><span>mar-21</span><span>Score</span></div></th>
				<th>ACP</th>
				<th>Accionar</th>
			</thead>
        		<tbody>
        			<tr>
            			<td>1</td><td class="rp">6689</td><td>2</td><td>01/03/20</td><td>177</td><td>P</td><td>0,2</td><td>3,3</td><td class="scoreAlto">4,2</td><td class="leche">23,6</td><td class="tanque">4,31%</td><td class="scoreAlto">7,0</td><td>4</td><td><select><option>        </option><option>Secar</option><option>Tratar</option><option>Muestrear</option><option>Anular</option><option>Segregar</option></select></td>
        			</tr>
        			<tr>
            			<td>1</td><td class="rp">6689</td><td>2</td><td>01/03/20</td><td>177</td><td>P</td><td>0,2</td><td>3,3</td><td>4,2</td><td class="leche">23,6</td><td class="tanque">4,31%</td><td>7,0</td><td>4</td><td><select><option>        </option><option>Secar</option><option>Tratar</option><option>Muestrear</option><option>Anular</option><option>Segregar</option></select></td>
        			</tr>
        			<tr>
            			<td>1</td><td class="rp">6689</td><td>2</td><td>01/03/20</td><td>177</td><td>P</td><td>0,2</td><td>3,3</td><td>4,2</td><td class="leche">23,6</td><td class="tanque">4,31%</td><td class="scoreAlto">7,0</td><td>3</td><td><select><option>        </option><option>Secar</option><option>Tratar</option><option>Muestrear</option><option>Anular</option><option>Segregar</option></select></td>
        			</tr>
        			<tr>
            			<td>1</td><td class="rp">6689</td><td>2</td><td>01/03/20</td><td>177</td><td>P</td><td>0,2</td><td>3,3</td><td class="scoreAlto">4,2</td><td class="leche">23,6</td><td class="tanque">4,31%</td><td class="scoreAlto">7,0</td><td>2</td><td><select><option>        </option><option>Secar</option><option>Tratar</option><option>Muestrear</option><option>Anular</option><option>Segregar</option></select></td>
        			</tr>
        		</tbody>
    		</table>    
		</div>
	</main>
</body>
</html>