<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>‎Servet | Distribucion Mensual de RCS</title>
<link rel="stylesheet" type="text/css" href="../css/index.css">
	<link rel="stylesheet" type="text/css" href="../css/distribucionrcs.css">
</head>
<body>
    <ul class="header__lista">
        <li class="header__item" style="width: 15em;">
            <div class="header__Tambo">
                <a class="header__dr" id='tamboActivo' style="padding-left: 15px;" href="#"></a>
            </div>
        </li>
    <li class="header__flex">
    	<span class="header__dr">Analisis de RCS</span>
    </li>
    </ul>
    <nav class="menu" id="menu">
		<div class="menu__contenido">
			<a href="./index.html">
				<div class="menu__opcion">
					<label class="texto menu__link">Inicio</label>
				</div>
			</a>
			<a href="./adminControl.html">
				<div class="menu__opcion">
					<label class="texto menu__link">Administrador de Vacas</label>
				</div>
			</a>
			<a href="./cronicas.html">
				<div class="menu__opcion">
					<label class="texto menu__link">Cronicas</label>
				</div>
			</a>
			<a href="./tanque.html">
				<div class="menu__opcion">
					<label class="texto menu__link">Aporte al Tanque</label>
				</div>
			</a>
		</div>
		<div class="menu__pie">
			<div class="menu__texto">
				<label class="texto menu__option">Graficos</label>
			</div>
			<a href="./analisisrcs.html">
				<div class="menu__opcion">
					<label class="texto menu__link">Analisis de RCS</label>
				</div>
			</a>
			<a href="./distribucionrcs.html">
				<div class="menu__opcion">
					<label class="texto menu__link select">Distribucion mensual de RCS</label>
				</div>
			</a>
		</div>
	</nav>
<main>
  <table class="cuadrodistribucion">
    <caption>
      RCS DE TANQUE SEGUN CONTROL LECHERO
    </caption>
    <thead>
      <th>Meses</th>
      <th>RCS/ML</th>
    </thead>
    <tbody id="tabla">
      
    </tbody>
  </table>
  <div class="contenedor__canvas">
    <canvas id="myChart" style="max-height: 60vh;"></canvas>
  </div>
</main>
  <script type="module" src="../js/distribucionrcs.js"></script>
</body>
</html>