<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>tanque</title>
	<link rel="stylesheet" type="text/css" href="../css/index.css">
	<link rel="stylesheet" type="text/css" href="../css/tanque.css">
</head>
<body>
	<ul class="header__lista"><!-- Botones de la barra -->
    <li class="header__item" style="width: 15em;">
    	<div class="header__Tambo">
    		<a class="header__dr" style="padding-left: 15px;" href="/">San Bernardo</a>
    	</div>
    </li>
    <li class="header__flex">
    	<span class="header__dr">%Tanque</span>
    </li>
</ul>
	<nav class="menu" id="menu">
		<div class="menu__contenido">
			<a href="./index.html">
				<div class="menu__opcion">
					<label class="texto menu__link">Inicio</label>
				</div>
			</a>
			<a href="./adminControl.html">
				<div class="menu__opcion">
					<label class="texto menu__link">Administrador de Vacas</label>
				</div>
			</a>
			<a href="Inventario">
				<div class="menu__opcion">
					<label class="texto menu__link">Control de C.S.</label>
				</div>
			</a>
			<a href="./tanque.html">
				<div class="menu__opcion">
					<label class="texto menu__link select">%Tanque</label>
				</div>
			</a>
		</div>
		<div class="menu__pie">
			<div class="menu__texto">
				<label class="texto menu__option">Reportes</label>
			</div>
			<a href="#">
				<div class="menu__opcion">
					<label class="texto menu__link">Conteo de C.S.</label>
				</div>
			</a>
			<a href="#">
				<div class="menu__opcion">
					<label class="texto menu__link">Mastitis Clinica</label>
				</div>
			</a>
		</div>
	</nav>
	<main>
		<div class="contenedor">
				<table class="tabla__info">
					<thead class="fondo_verde">	
						<tr>			
							<th>10% VCS.  QUE  MAS  APORTAN  AL  TANQUE</th>
							<th id="vcsAportan">14</th>
						</tr>
					</thead>
				<tr>
					<td>  %  DE  CÉLULAS  SOMÁTICAS  QUE  APORTAN   ESTAS  VCS.  AL  TANQUE  CON  RESPECTO  AL  TOTAL  DE  CÉLULAS</td>
					<td id="vcsAporte">29,0%</td>
				</tr>
		</table>
				<table class="tabla__info">
					<thead class="fondo_azul">	
						<tr>			
							<th>RCS. PROMEDIO DEL  RODEO</th>
							<th id="rcsProm">324.266/ML</th>
						</tr>
					</thead>
				<tr>
					<td>RCS.  PROMEDIO  RODEO  SIN  LAS  14  VACAS  LISTADAS  PERDIENDO   351,4  LTS.  DE  LECHE</td>
					<td id="rcsPromSin">265.944/ML</td>
				</tr>
		</table>
		</div>
		<div class="contenedor__tabla scroll">
        	<table class="table">
        	<thead>
				<th>N°</th>
				<th>RP</th>
				<th>Lact.</th>
				<th>Inicio Lact.</th>
				<th>DEL</th>
				<th>Tacto</th>
				<th><div class="mes"><span>nov-20</span><span>Score</span></div></th>
				<th><div class="mes"><span>ene-21</span><span>Score</span></div></th>
				<th><div class="mes"><span>feb-21</span><span>Score</span></div></th>
				<th>Leche</th>
				<th>%Tan.</th>
				<th><div class="mes"><span>mar-21</span><span>Score</span></div></th>
				<th>ACP</th>
			</thead>
        		<tbody>
        			<tr>
            			<td>1</td><td class="rp">6689</td><td>2</td><td>01/03/20</td><td>177</td><td>P</td><td>0,2</td><td>3,3</td><td class="scoreAlto">4,2</td><td class="leche">23,6</td><td class="tanque">4,31%</td><td class="scoreAlto">7,0</td><td></td>
        			</tr>
        			<tr>
            			<td>1</td><td class="rp">6689</td><td>2</td><td>01/03/20</td><td>177</td><td>P</td><td>0,2</td><td>3,3</td><td>4,2</td><td class="leche">23,6</td><td class="tanque">4,31%</td><td>7,0</td><td></td>
        			</tr>
        			<tr>
            			<td>1</td><td class="rp">6689</td><td>2</td><td>01/03/20</td><td>177</td><td>P</td><td>0,2</td><td>3,3</td><td>4,2</td><td class="leche">23,6</td><td class="tanque">4,31%</td><td class="scoreAlto">7,0</td><td></td>
        			</tr>
        			<tr>
            			<td>1</td><td class="rp">6689</td><td>2</td><td>01/03/20</td><td>177</td><td>P</td><td>0,2</td><td>3,3</td><td class="scoreAlto">4,2</td><td class="leche">23,6</td><td class="tanque">4,31%</td><td class="scoreAlto">7,0</td><td></td>
        			</tr>
        		</tbody>
    		</table>    
		</div>
	</main>
</body>
</html>