.contenedor {
	border: 1px solid #999;
	width: 80%;
	border-radius: 10px;
	padding: 1.5%;
	min-width: 400px;
	min-height: 100px;
	margin: auto;
	max-height: 55vh;
	display: flex;
	justify-content: space-between;
	background: #fff;
}

.contenedor__input {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.input__fecha {
	display: flex;
	flex-direction: column;
}

.contenedor__boton {
	display: flex;
}

.botones {
	display: flex;
	flex-direction: column;
}

.amarillo {
	border-color: #ffc107;
	color: #ffc107;
	margin-top: 5px;
}

.amarillo:hover {
	background: #ffc107;
	color: #fff;
}

#buscador {
	font-size: 20px;
	padding: 5px 5px;
	margin-left: 15px;
}

.contenedor__buscador { margin: 5px; }

input[type="date"] {
	font-size: 16px;
}

.borrar {
	color: red;
	padding: 0;
}

.contenedor__tabla { max-height: 70vh; }

tr { cursor: pointer; }
th { cursor: default; }

.modifi {
	padding: 0;
}

.input__corto {
	font-size: 17px;
	width: 54px;
}

.input__largo {
	font-size: 17px;
	width: 90px;
}

#botonNuevoControl{
	margin: 0 20px 20px 20px;
}

#descarga {
	color: #4caf50;
	font-size: 25px;
}

#descarga:hover {
	color: #666;
}