.table select { border: none; }

.contenedor {
	width: 90%;
	height: 20vh;
	min-width: 921px;
	margin: 1.5vh auto;
	display: flex;
	justify-content: space-between;
}

.input {
	width: 180px;
}

.contenedor__fecha {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.contenedor label {
	line-height : 30px;
}

.contenedor__izq {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
}

.scoreAlto {
	background: #ff9c9c;
}

.acp1 { background: #F0F09D } 
.acp2 { background: #F3F38B }
.acp3 { background: #F0F049 }
.acp4 { background: #F0F03B }
.acp5 { background: #F3F329 }