.cuadrodistribucion{
    font-size: 1em;
    border-radius: 20px;
	background-color: white;
	height: 150px;
	margin: auto;
	width: 20%;
	border: 1px solid green;
	padding: 15px;
}

.contenedor__canvas {
	margin: 10vh auto 10px;
	height: 60vh;
	width: 80%;
	max-width: 80%;
	background-color: white;
	padding: 10px;
	border-radius: 10px;
}

td {
	padding: 5px;
	text-align: center;
}