.contenedor {
	margin: auto;
	border: 1px solid #999;
	width: 50%;
	border-radius: 10px;
	padding: 1.5%;
	min-width: 400px;
	margin-top: 10vh;
	max-height: 55vh;
}

.contenedor__input {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-bottom: 2.5%;
}

input[type="text"] {
	font-size: 20px;
	padding: 5px 5px;
}

.contenedor__tabla {
	max-height: 250px;
}

.borrar {
	color: red;
	padding: 0;
}

tr { cursor: pointer; }

#validacion {
	border-radius: 20px;
	background-color: #F33D3D;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	height: 200px;
	margin: auto;
	width: 50%;
	border: 1px solid red;
	padding: 20px;
}

#validacion h3{
	margin: 0;
	font-size: 3em;
	color: white;
	text-align: center;
}
#validacion label{
	color: white;
	text-align: center;
	padding-top: 20px; 
}

#validacion div{
	display: flex;
	justify-content: space-around;
	padding-top: 50px; 
}
.boton{

}

.rojo {
	color: white;
	background-color: #F33D3D;
	border-color: #F33D3D;
}