.contenedor {
	width: 100%;
	padding: 1% 0;
	min-width: 500px;
	display: flex;
	justify-content: space-evenly;
}

.cotenedor__info {
	display: flex;
	flex-direction: column;
}

.info__head {
	border: 1px solid #333;
}

.info__head label {
	color: #fff;
	text-align: center;
}

.fondo_verde {
	background: var(--cPrin);
}
.fondo_azul {
	background: #2980b9;
}

.tabla__info th {
	color: #fdfefe;
	padding: 15px;
	border-bottom: 1px solid #d5bdbd;
}

.tabla__info td {
	background: #e5e8e8;
	line-height: 130%;
}

#rcsProm { border-left: 1px solid #d5dbdb; }
#rcsPromSin { border-left: 1px solid #d5dbdb; }
#vcsAportan { border-left: 1px solid #d5dbdb; }
#vcsAporte { border-left: 1px solid #d5dbdb; }

.leche { color: #a569bd; }

.rp { background: #d5f5e3; }

.tanque { background: #d5f5e3; }

.tabla__info {
	border-collapse: collapse;
	width: 40%;
	min-height: 15vh;
}

.mes {
	display: flex;
	flex-direction: column;
}

.scoreAlto { color: #dc3545; }